.vh-client-component-orders .table td.vh-currency {
    text-align: right !important;
}

.vh-client-component-orders {
    position: relative;
}

.vh-client-component-orders .vh-address-block .line {
    display: block;
    margin-bottom: 4px;
}

.vh-client-component-orders .vh-address-block .bold {
    font-family: Montserrat-Bold, sans-serif;
}

.vh-client-component-orders table {
    width: 100%;
    border-collapse: collapse;
}

.vh-client-component-orders .vh-order-details {
    display: none;
}

.vh-client-component-orders .vh-component-order-details .vh-order-details .thumb-img {
    display: table;
    float: left;
    width: 30%;
    text-align: center;
}

.vh-client-component-orders .vh-component-order-details .vh-order-details .thumb-img img {
    width: auto;
    height: 95px;
    box-shadow: 0 1px 8px grey;
}

.vh-client-component-orders .vh-component-order-details .vh-order-details .product-details {
    display: table;
    height: 95px;
    float: left;
}

.vh-client-component-orders .vh-component-order-details .vh-order-details .product-data {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.vh-client-component-orders .vh-component-order-details .vh-order-details .total-saving {
    color: green !important;
}

.vh-client-component-orders .vh-component-order-details .vh-order-details .total-amount {
    font-weight: 600 !important;
}

@media (max-width: 768px) {
    .product-details {
        height: auto;
    }

    .product-data {
        text-align: center;
    }
}
