.vh-signup-login-popup-box .modal {
    z-index: 1902;
}

.vh-client-component-cart .vh-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.43);
    z-index: 20010;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-out;
}

.vh-client-component-cart .vh-overlay img {
    height: 64px;
    width: 64px;
}

.vh-client-component-cart.loading .vh-overlay {
    opacity: 1;
    visibility: visible;
    transition: all .4s ease-out;
}

.vh-client-component-cart.loading .modal-header,
.vh-client-component-cart.loading .vh-modal-body-content,
.vh-client-component-cart.loading .vh-all-total-box {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    filter: blur(1px);
}

.vh-client-component-cart .vh-cart-modal {
    position: relative;
    padding-right: 0 !important;
}

.vh-client-component-cart .vh-cart-modal .modal-content {
    height: 100vh !important;
    margin-bottom: 0 !important;
}

.vh-client-component-cart .section-top {
    padding-top: 30px;
}

.vh-client-component-cart .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.vh-client-component-cart .bootstrapWizard {
    display: block !important;
    list-style: none !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
}

.vh-client-component-cart .bootstrapWizard a:hover,
.bootstrapWizard a:active,
.bootstrapWizard a:focus {
    text-decoration: none !important;
    background: none !important;
}

.vh-client-component-cart .bootstrapWizard li {
    display: block !important;
    float: left !important;
    width: 33.333333% !important;
    text-align: center !important;
    padding-left: 0
}

.vh-client-component-cart .bootstrapWizard li .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.vh-client-component-cart .bootstrapWizard li:before {
    border-top: 1px solid #e5e5e5 !important;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 27px;
    right: 1px;
    z-index: 2;
    width: 100%;
}

.vh-client-component-cart .bootstrapWizard li:first-child:before {
    left: 50% !important;
    max-width: 50% !important;
}

.vh-client-component-cart .bootstrapWizard li:last-child:before {
    max-width: 50% !important;
    width: 50% !important;
}

.vh-client-component-cart .bootstrapWizard li .btn-default .step {
    background: #ffffff;
    color: #707070;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 50px !important;
    line-height: 50px !important;
    min-height: 50px !important;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
    text-decoration: none;
}

.vh-client-component-cart .bootstrapWizard li .btn {
    padding: 0;
}

.vh-client-component-cart .bootstrapWizard li .btn-default {
    background: none;
    border: 0;
}

.vh-client-component-cart .bootstrapWizard li .btn-default:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .0) !important;
}

.vh-client-component-cart .bootstrapWizard li .btn-primary {
    background: none;
    border: 0;
    border-radius: 0rem;
}

.vh-client-component-cart .bootstrapWizard li .btn-primary:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .0) !important;
}

.vh-client-component-cart .bootstrapWizard li .btn-primary .step {
    color: #000000;
    font-weight: 700;
    width: 50px;
    line-height: 50px;
    min-height: 50px;
    font-size: 0;
    border-radius: 100%;
    background: url(../images/tike-icon.jpg) no-repeat center center #ffffff;
    border: 1px solid #e5e5e5;
    position: relative;
    transition: all .1s linear 0s;
    z-index: 2;
}

.vh-client-component-cart .bootstrapWizard li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.vh-client-component-cart .bootstrapWizard li a[type="button"] {
    -webkit-appearance: none;
    background: none;
    border: 0;
}

.vh-client-component-cart .bootstrapWizard li a[type="button"]:focus {
    border: 0;
    outline: none;
}

.vh-client-component-cart .bootstrapWizard li a:hover {
    text-decoration: none;
}

.vh-client-component-cart .bootstrapWizard li .btn-default i.show-icon {
    visibility: hidden;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-cart .bootstrapWizard li .btn-primary i.show-icon {
    visibility: visible;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-cart .bootstrapWizard li .btn-default i.show-number {
    visibility: visible;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-cart .bootstrapWizard li .btn-primary i.show-number {
    visibility: hidden;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-cart .bootstrapWizard li a.btn-primary .title {
    color: #000000
}

.vh-client-component-cart .bootstrapWizard li .title {
    color: #e5e5e5;
    display: block;
    font-size: 16px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
}

.vh-client-component-cart .setup-content {
    padding: 0 0 0 0;
    margin: 40px 0 0 0;
    width: 100%;
    display: block;
    clear: both;
}

.vh-client-component-cart .shop-tab-section {
    width: 80%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    display: block;
    clear: both;
}

.vh-client-component-cart .main-wrapper-inner {
    padding: 80px 0 0 0;
}

.vh-client-component-cart .col-box-6 {
    width: 65%;
    position: relative;
}

.vh-client-component-cart .col-box-4 {
    width: 30%;
    position: relative;
}

.vh-client-component-cart .col-box-5 {
    width: 47%;
    position: relative;
}

.vh-client-component-cart .col-box-3 {
    width: 32%;
    position: relative;
}

.vh-client-component-cart .pull-right {
    float: right !important;
}

.vh-client-component-cart .pull-left {
    float: left !important;
}

.vh-client-component-cart .box-margin-left {
    margin-left: 2%;
}

.vh-client-component-cart .form-outer {
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #747474;
}

.vh-client-component-cart .form-outer label {
    width: 100%;
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}

.vh-client-component-cart .form-outer input[type="text"] {
    width: 100%;
    display: block;
    clear: both;
    border: 1px solid #e8e8e8;
    padding: 12px 10px;
    margin: 6px 0 18px 0;
    color: #6f6f6f;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
}

.vh-client-component-cart .form-outer input[type="text"]:focus {
    border: 1px solid #e8e8e8;
    outline: none;
}

.vh-client-component-cart .form-outer select {
    width: 100%;
    display: block;
    clear: both;
    border: 1px solid #e8e8e8;
    padding: 12px 10px;
    margin: 6px 0 18px 0;
    color: #2e2e2e;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
}

.vh-client-component-cart .form-outer select:focus {
    border: 1px solid #e8e8e8;
    outline: none;
}


.vh-client-component-cart .form-outer input[type="checkbox"] {
    margin-bottom: 18px;
}

.vh-client-component-cart .side-box {
    background: #fafafa;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    border: 2px solid #ededed;
    padding: 20px 0 10px 0;
    border-radius: 6px;
}

.vh-client-component-cart .inner-box {
    display: block;
    clear: both;
    padding: 0 18px;
}

.vh-client-component-cart .order-text {
    font-size: 16px;
    text-align: left;
    color: #464646;
    padding: 0 0 25px 0;
    margin: 0;
}

.vh-client-component-cart .order-text span {
    float: right;
    text-align: right;
}

.vh-client-component-cart .order-total {
    font-size: 18px;
    text-align: left;
    color: #272727;
    padding: 0 0 16px 0;
    margin: 0;
    font-weight: 700;
}

.vh-client-component-cart .order-total span {
    float: right;
    text-align: right;
}

.vh-client-component-cart .vh-order-product {
    width: 100%;
    display: block;
    clear: both;
    padding: 18px;
    margin: 0;
    border-top: 2px solid #ededed;
    position: relative;
}

.vh-client-component-cart .vh-order-product .close-box {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 16px;
    text-align: center;
}

.vh-client-component-cart .vh-order-product .close-box a {
    text-decoration: none;
    color: #464646;
}

.vh-client-component-cart .vh-order-product .img-box {
    width: 35%;
    float: left;
}

.vh-client-component-cart .vh-order-product .img-box .vh-product-image {
    width: 120px;
}

.vh-client-component-cart .vh-order-product .about-product {
    width: 65%;
    float: left;
}

.vh-client-component-cart .vh-order-product .about-product h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #464646;
    padding: 4px 0 0 0;
    margin: 0;
}

.vh-client-component-cart .vh-order-product .about-product p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #858484;
    padding: 0 0 16px 0;
    margin: 0;
}

.vh-client-component-cart .vh-order-product .about-product .qty-box {
    width: 100%;
    display: block;
    clear: both;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #858484;
    padding: 0 0 16px 0;
    margin: 0;
}

.vh-client-component-cart .vh-order-product .about-product .qty-box a {
    font-size: 16px;
    line-height: 20px;
    color: #858484;
    text-decoration: none;
}

.vh-client-component-cart .vh-order-product .about-product .qty-box input {
    width: 50px;
    text-align: center;
    color: #858484;
    border: none !important;
    background: none;
    padding: 0;
    margin: 0 4px;
}

.vh-client-component-cart .vh-order-product .about-product .qty-box input:focus {
    border: 0;
    outline: none;
}

.vh-client-component-cart .vh-order-product .about-product .qty-box span {
    float: right;
    text-align: right;
}

.vh-client-component-cart .billing-payment-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.vh-client-component-cart .billing-payment-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.vh-client-component-cart .billing-payment-box ul li {
    width: 250px;
    float: left;
    font-size: 15px;
    color: #838383;
    padding: 0;
    margin: 0 20px 20px 0;
}

.vh-client-component-cart .billing-payment-box ul li a {
    display: block;
    font-size: 15px;
    color: #838383;
    border: 2px solid #eaeaea;
    text-decoration: none;
    padding: 20px 25px;
    margin: 0;
}

.vh-client-component-cart .billing-payment-box ul li a span.title {
    display: block;
}

.vh-client-component-cart .billing-payment-box ul li a:hover {
    display: block;
    font-size: 15px;
    color: #838383;
    border: 2px solid #2e7696;
    text-decoration: none;
}

.vh-client-component-cart .billing-payment-box ul li.active a {
    border: 2px solid #2e7696;
}

.vh-client-component-cart .return-to-detais {
    font-size: 16px;
    color: #327898;
    text-align: left;
    padding: 0 0 0 0;
    margin-bottom: 25px;
}

.vh-client-component-cart .return-to-detais a {
    font-size: 16px;
    color: #327898;
    text-align: left;
    padding: 0 0 0 0;
    text-decoration: none;
}

.vh-client-component-cart .return-to-detais a i {
    margin-right: 6px;
}

.vh-client-component-cart .review-details {
    padding-bottom: 40px;
}

.vh-client-component-cart .review-details h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #404040;
    padding: 0 0 20px 0;
    margin: 0;
}

.vh-client-component-cart .review-details p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #7d7d7d;
    padding: 0 0 10px 0;
    margin: 0;
}

.vh-client-component-cart .review-details p span {
    font-size: 17px;
    display: block;
    color: #181818;
    font-weight: 700;
    margin-bottom: 5px;
}

.vh-client-component-cart .review-details p a {
    color: #117bac;
    text-decoration: none;
}

.vh-client-component-cart .review-details p img {
    vertical-align: middle;
}

.vh-client-component-cart .method-box {
    display: block;
    font-size: 18px;
    text-align: left;
    color: #222222;
    padding: 0 100px 30px 30px;
    margin: 0;
    position: relative;
}

.vh-client-component-cart .method-box .price-free {
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: right;
    color: #222222;
}

.vh-client-component-cart .method-box .seclect-check-box {
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.vh-client-component-cart .promo-box {
    width: 100%;
    border: none;
    position: relative;
}

.vh-client-component-cart .promo-box input[type="text"] {
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    display: block;
    clear: both;
    border: 0;
    padding: 0 128px 0 10px;
    margin: 0 0 0 0;
    color: #6f6f6f;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
}

.vh-client-component-cart .promo-box input[type="text"]:focus {
    border: 0;
    outline: none;
}


.vh-client-component-cart .terms-text-box {
    font-size: 15px;
    text-align: left;
    color: #222222;
    padding: 0;
    margin: 0 0 30px 0;
}

.vh-client-component-cart .terms-text-box a {
    font-size: 15px;
    text-align: left;
    color: #327898;
    text-decoration: underline;
    padding: 0 4px;
}

.vh-client-component-cart .terms-text-box a:hover {
    text-decoration: none;
}

.vh-client-component-cart .cart-icon {
    border: 0;
    background: none;
    text-align: right;
    cursor: pointer;
    float: right;
}

.vh-client-component-cart .cart-icon:focus {
    border: 0;
    outline: none;
}

.vh-client-component-cart .modal {
    display: none;

    position: fixed;

    z-index: 1901;

    top: 0;
    right: 0;
    width: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.4);

}

.vh-client-component-cart .modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 0 solid #888;
    width: 500px;
    float: right;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 0;
}

.vh-client-component-cart .modal-content .all-total-box {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    height: 33%;
    box-shadow: 0 -5px 3px 0 #dad9d9;
    -webkit-box-shadow: 0 -5px 3px 0 #dad9d9;
    -moz-box-shadow: 0 -5px 3px 0 #dad9d9;
    -o-box-shadow: 0 -5px 3px 0 #dad9d9;
    z-index: 2;
}

.vh-client-component-cart .modal-content .all-total-box {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    height: 32%;
    box-shadow: 0 -5px 3px 0 #dad9d9;
    -webkit-box-shadow: 0 -5px 3px 0 #dad9d9;
    -moz-box-shadow: 0 -5px 3px 0 #dad9d9;
    -o-box-shadow: 0 -5px 3px 0 #dad9d9;
    z-index: 2;
}

.vh-client-component-cart .all-total-box .subtotal {
    display: block;
    background: #fafafa;
    padding: 10px 20px;
    font-weight: 400;
    color: #505050;
    font-size: 16px;
}

.vh-client-component-cart .modal-content .all-total-box .subtotal span {
    float: right;
    text-align: right;
}

.vh-client-component-cart .modal-content .all-total-box .promo-box input {
    border: none;
}

.vh-client-component-cart .modal-content .all-total-box .promo-box {
    width: 100%;
    border-width: 1px 0 1px 0 !important;
    border-color: #ccc !important;
    position: relative;
}

.vh-promo-box {
    margin-bottom: 5px;
    padding: 14px 20px;
}

.vh-client-component-cart .modal-content .all-total-box .main-total {
    display: block;
    background: #fafafa;
    padding: 14px 20px;
    font-weight: 700;
    color: #131313;
    font-size: 18px;
    margin-bottom: 10px;
}

.vh-client-component-cart .modal-content .all-total-box .discount-total {
    display: block;
    padding: 0px 20px;
    color: #131313;
    font-size: 15px;
    margin-bottom: 0px;
}

.vh-client-component-cart .modal-content .all-total-box .discount-total span,
.vh-client-component-cart .modal-content .all-total-box .main-total span {
    float: right;
    text-align: right;
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.vh-client-component-cart .close {
    color: #313131;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 10px 0 0 !important;
}

.vh-client-component-cart .close:hover,
.close:focus {
    color: #327898;
    text-decoration: none;
    cursor: pointer;
}

.vh-client-component-cart .modal-header {
    padding: 25px 16px !important;
    background-color: #ffffff;
    color: #313131;
    text-align: center !important;
}

.vh-client-component-cart .modal-header p {
    width: 100%;
    display: block;
    font-size: 18px !important;
    text-align: center !important;
    font-weight: 700;
    color: #212121;
    padding: 0;
    margin: 0;
}

.vh-client-component-cart .vh-modal-body-content {
    padding: 0;
    height: 60% !important;
    overflow-x: scroll !important;
}

.vh-client-component-cart .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

@media (max-width: 767px) {
    .vh-client-component-cart .shop-tab-section {
        width: 100%;
        margin: 0 auto;
    }

    .vh-client-component-cart .bootstrapWizard li {
        display: block !important;
        float: none !important;
        width: 100% !important;
        text-align: center;
        padding-left: 0;
        padding-bottom: 30px;
    }

    .vh-client-component-cart .bootstrapWizard li:before {
        border-top: 0 solid #e5e5e5 !important;
        content: "";
        display: block;
        font-size: 0;
        overflow: hidden;
        position: relative;
        top: 27px;
        right: 1px;
        z-index: 2;
        width: 100%;
    }

    .vh-client-component-cart .vh-order-product .img-box {
        width: auto;
        float: left;
        margin-bottom: 10px;
    }

    .vh-client-component-cart .vh-order-product .img-box .vh-product-image {
        width: 100px;
    }

    .vh-client-component-cart .vh-order-product .about-product {
        float: left;
        padding-left: 10px;
    }

    .vh-client-component-cart .box-margin-left {
        margin-left: 0%;
    }

    .vh-client-component-cart .modal-content {
        position: relative;
        background-color: #fefefe;
        padding: 0;
        border: 0 solid #888;
        width: 80%;
        float: right;
        height: 100vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    .vh-client-component-cart .modal-content .all-total-box {
        height: 45% !important;
    }
}