@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

.vh-client-component-auth img {
    border: 0;
    max-width: 100%;
    width: auto;
    height: auto;
}

.vh-signup-form-box,
.vh-login-box,
.vh-signup-form-box,
.vh-user-info-box,
.vh-reset-password-box {
    display: none;
}

.vh-signup-login-popup-box .modal {
    background-color: rgba(0, 0, 0, 0.2);
}

.vh-signup-login-popup-box .modal-dialog.shadow {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.vh-signup-login-popup-box .modal-content {
    border: 0;
    border-radius: 5px;
}

.vh-signup-login-popup-box .modal-header {
    border-bottom: 0 solid #e9ecef;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vh-signup-login-popup-box .modal-header .close {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin: auto -1rem -1rem 0.1em;
    box-shadow: 0 0 5px 2px #DDDDDD;
    -webkit-box-shadow: 0 0 5px 2px #DDDDDD;
    -moz-box-shadow: 0 0 5px 2px #DDDDDD;
    -o-box-shadow: 0 0 5px 2px #DDDDDD;
    border-radius: 100%;
}

.vh-signup-login-popup-box .modal-header .close:focus {
    border: 0;
    outline: none;
}

.vh-signup-login-popup-box .modal-body {
    padding-bottom: 0;
}

.vh-signup-login-popup-box .modal-body .or-box {
    font-size: 15px;
    text-align: center;
    color: #767676;
    font-weight: 700;
    padding: 0;
    margin: 0 0 15px 0;
}

.vh-signup-login-popup-box .modal-body .or-box span {
    background: #FFFFFF;
    padding: 0 8px;
}

.vh-signup-login-popup-box .modal-body .or-box .line-box {
    min-height: 1px;
    background: #e4e4e4;
    margin: -10px 0 0 0;
    font-size: 0;
}


.vh-signup-login-popup-box .modal-body .or-box .line-top {
    margin-top: 0;
}


.vh-signup-login-popup-box .modal-body h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #484848;
    padding: 0 0 10px 0;
    margin: 0;
    text-align: left;
    font-weight: 700;
}

.vh-signup-login-popup-box .modal-body .input-group {
    margin-bottom: 15px;
}

.vh-signup-login-popup-box .modal-body .input-group input {
    padding: 12px 30px 12px 15px;
    border-radius: 4px;
}

.vh-signup-login-popup-box .modal-body .input-icon {
    position: absolute;
    width: 30px;
    right: 0;
    top: 16px;
    text-align: center;
    font-size: 18px;
    color: #484848;
    z-index: 5;
}

.vh-signup-login-popup-box .modal-body .icon-email {
    position: absolute;
    width: 30px;
    right: 0;
    top: 16px;
    text-align: center;
    font-size: 18px;
    color: #484848;
    z-index: 5;
}

.vh-code-verification-box .verify-button {
    background: #494949 !important;
    color: #FFFFFF !important;
    font-weight: 700;
    width: 100%;
    border: 0;
    padding: 15px 0;
    margin-bottom: 30px;
}

.vh-code-verification-box  .b-butt {
    margin-bottom: 20px;
}

.vh-signup-login-popup-box .modal-footer {
    display: block;
    border-top: 0;
    padding-top: 0;
    margin: 0;
}

.vh-signup-login-popup-box .modal-footer > :not(:first-child) {
    margin-left: 0;
}

.vh-signup-login-popup-box .modal-footer > :not(:last-child) {
    margin-right: 0;
}

.vh-signup-login-popup-box .modal-footer p {
    display: block;
    text-align: center !important;
    color: #484848;
    font-size: 16px;
    padding: 0 0 6px 0;
    margin: 0;
    font-weight: 700;
}

.vh-signup-login-popup-box .modal-footer p a {
    color: #178487;
    padding: 0;
    margin: 0;
}

.vh-signup-form-box h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #484848;
    padding: 0 0 20px 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.vh-signup-form-box h5 a {
    color: #1a8487;
    text-decoration: none;
}

.vh-signup-form-box .birthday-box {
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
}

.vh-signup-form-box .birthday-box p {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #484848;
    padding: 0;
    margin: 0;
}

.vh-signup-form-box .birthday-box p span {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.vh-signup-form-box .day-select select {
    border: 1px solid #dbdbdb;
    width: 100%;
    padding: 10px 8px;
    margin: 0 0 0 0;
    color: #484848;
    border-radius: 4px;
}

.vh-signup-form-box .dont-what {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #484848;
    padding: 0 0 30px 20px;
    margin: 0;
}

.vh-signup-form-box .dont-what [type="checkbox"] {
    position: absolute;
    left: 0;
    top: 2px;
}

.vh-user-info-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 26px;
    color: #484848;
    padding: 0 0 0 0;
    margin: 0 0 30px 0;
    text-align: center;
    font-weight: 700;
}

.vh-user-info-box .user-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 20px auto;
    display: block;
    clear: both;
    padding: 0;
}

.vh-user-info-box .email-text {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #484848;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 700;
}

.vh-user-info-box .user-password-box {
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
    clear: both;
}

.vh-user-info-box .forgot-pass-box {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #178487;
    padding: 0 0 30px 0;
    margin: 0;
    font-weight: 700;
}

.vh-user-info-box .forgot-pass-box a {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #178487;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.vh-reset-password-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: #484848;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.vh-reset-password-box h2 span {
    width: 80px;
    border-bottom: 1px solid #dbdbdb;
    display: block;
    font-size: 0;
    line-height: 10px;
}

.vh-reset-password-box p {
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    color: #484848;
    padding: 0;
    margin: 0 0 20px 0;
}

.vh-reset-password-box .another-account-box {
    padding: 20px 0 10px 0;
    margin: 0;
}


@media (max-width: 767px) {
    .modal-content {
        position: relative;
        background-color: #fefefe;
        padding: 0;
        border: 0 solid #888;
        width: 80%;
        float: right;
        height: 100vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    .vh-user-info-box .user-password-box {
        width: 95%;
    }
}

.vh-login-action,
.vh-logout-action {
    display: none;
}

.vh-errors {
    display: block;
    background-color: #ffe6ed;
    padding: 10px;
    color: #90092e;
    top: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.vh-success {
    display: block;
    color: #0a3c0a;
    background-color: #cef3ce;
    padding: 10px;
    top: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.vh-errors,
.vh-success {
    display: none;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(-20px, 0, 0);
    }
    70% {
        transform: translate3d(20px, 0, 0);
    }
}

.shake {
    animation-name: shake;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.vh-signup-login-popup-box .fv-sr-only {
    display: none;
}

.vh-signup-login-popup-box .fv-plugins-framework input::-ms-clear,
.vh-signup-login-popup-box .fv-plugins-framework textarea::-ms-clear {
    display: none;
    height: 0;
    width: 0;
}

.vh-signup-login-popup-box .fv-plugins-icon-container {
    position: relative;
}

.vh-signup-login-popup-box .fv-plugins-icon {
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.vh-signup-login-popup-box .fv-plugins-tooltip {
    position: absolute;
    z-index: 10000;
}

.vh-signup-login-popup-box .fv-plugins-tooltip .fv-plugins-tooltip__content {
    background: #000;
    border-radius: 3px;
    color: #eee;
    padding: 10px;
    position: relative;
}

.vh-signup-login-popup-box .fv-plugins-tooltip .fv-plugins-tooltip__content:before {
    border: 8px solid transparent;
    content: '';
    position: absolute;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--hide {
    opacity: 0;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--top-left {
    margin-top: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--top-left .fv-plugins-tooltip__content:before {
    border-top-color: #000;
    left: 8px;
    top: 100%;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--top {
    margin-top: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--top .fv-plugins-tooltip__content:before {
    border-top-color: #000;
    left: 50%;
    margin-left: -8px;
    top: 100%;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--top-right {
    margin-top: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--top-right .fv-plugins-tooltip__content:before {
    border-top-color: #000;
    right: 8px;
    top: 100%;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--right .fv-plugins-tooltip__content:before {
    border-right-color: #000;
    margin-top: -8px;
    right: 100%;
    top: 50%;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--bottom-right {
    margin-top: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--bottom-right .fv-plugins-tooltip__content:before {
    border-bottom-color: #000;
    bottom: 100%;
    right: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--bottom {
    margin-top: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--bottom .fv-plugins-tooltip__content:before {
    border-bottom-color: #000;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--bottom-left {
    margin-top: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--bottom-left .fv-plugins-tooltip__content:before {
    border-bottom-color: #000;
    bottom: 100%;
    left: 8px;
}

.vh-signup-login-popup-box .fv-plugins-tooltip--left .fv-plugins-tooltip__content:before {
    border-left-color: #000;
    left: 100%;
    margin-top: -8px;
    top: 50%;
}

.vh-signup-login-popup-box .fv-plugins-tooltip-icon {
    cursor: pointer;
    pointer-events: inherit;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .fv-help-block {
    color: #dc3545;
    font-size: 80%;
    margin-top: .25rem;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .is-invalid ~ .form-check-label,
.vh-signup-login-popup-box .fv-plugins-bootstrap .is-valid ~ .form-check-label {
    color: inherit;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .has-danger .fv-plugins-icon {
    color: #b4b4b4;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .has-success .fv-plugins-icon {
    color: #b4b4b4;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .fv-plugins-icon {
    height: 38px;
    line-height: 38px;
    width: 38px;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .input-group ~ .fv-plugins-icon {
    z-index: 3;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .form-group.row .fv-plugins-icon {
    right: 15px;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .form-group.row .fv-plugins-icon-check {
    top: -7px;

}

.vh-signup-login-popup-box .fv-plugins-bootstrap:not(.form-inline) label ~ .fv-plugins-icon {
    top: 32px;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap:not(.form-inline) label ~ .fv-plugins-icon-check {
    top: 25px;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap:not(.form-inline) label.sr-only ~ .fv-plugins-icon-check {
    top: -7px;
}

.vh-signup-login-popup-box .was-validated .form-control:invalid,
.vh-signup-login-popup-box .form-control.is-invalid,
.vh-signup-login-popup-box .was-validated .custom-select:invalid,
.vh-signup-login-popup-box .custom-select.is-invalid {
    border-color: #ff3860 !important;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap.form-inline .form-group {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: auto;
}

.vh-signup-login-popup-box .fv-plugins-bootstrap .fv-plugins-icon {
    height: 50px;
    line-height: 50px;
    width: 38px;
    right: 30px;
    display: inline-block;
}

.vh-signup-login-popup-box .vh-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.43) !important;
    z-index: 9999 !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-out;
}

.vh-signup-login-popup-box .vh-overlay img {
    height: 64px;
    width: 64px;
}

.vh-signup-login-popup-box.loading .vh-overlay {
    opacity: 1;
    visibility: visible;
    transition: all .4s ease-out;
}

.vh-signup-login-popup-box.loading > * {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    filter: blur(1px);
}

.animateMe {
    -webkit-animation: spin .8s linear infinite;
    -moz-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.vh-js-page-modal-box .vh-default-sponsor {
    font-family: 'VenusSB-MediumExtended';
    font-size: 12px;
    line-height: 1.25em;
    letter-spacing: .14em;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
}

.vh-verify-token-section {
    display: none;
}

.vh-verify-token-message {
    font-size: 15px;
    color: green;
    text-align: center;
}