.vh-location-contact-section {
    height: 450px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.vh-content-popup {
    max-width: 300px;
    height: auto;
}


.vh-location-contact-modal .fv-plugins-bootstrap .fv-help-block {
    color: #dc3545;
    font-size: 80%;
    margin-top: .25rem;
}
