.vh-client-component-checkout {
    opacity: 1;
    margin-bottom: 50px;
    transition: all .4s ease-out;
}

.vh-client-component-checkout .vh-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.43);
    z-index: 20010;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-out;
}

.vh-client-component-checkout .vh-overlay img {
    height: 64px;
    width: 64px;
}

.vh-client-component-checkout.loading .vh-overlay {
    opacity: 1;
    visibility: visible;
    transition: all .4s ease-out;
}

.vh-client-component-checkout.loading .vh-step-content,
.vh-client-component-checkout.loading .section-top {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    filter: blur(1px);
}

.vh-client-component-checkout .vh-payment-modal {
    position: fixed;
    width: 300px;
    height: 280px;
    top: 45%;
    left: 50%;
    margin-top: -150px;

    margin-left: -140px;

    background-color: transparent;
    z-index: 30010;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.vh-client-component-checkout .vh-payment-modal.visible {
    top: 50%;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.vh-client-component-checkout .vh-payment-modal.visible .vh-js-modal-body iframe {
    width: 280px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .21), 0 5px 15px 0 rgba(0, 0, 0, .10);
}

.vh-client-component-checkout img {
    border: 0;
    max-width: 100%;
    width: auto;
    height: auto;
}

.vh-client-component-checkout input:focus {
    outline: none;
}

.vh-client-component-checkout p {
    font-family: Montserrat, sans-serif;
    text-align: justify;
    color: #4A5B7C;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 20px;
    margin: 0;
    font-weight: 400;
}

.vh-client-component-checkout p a {
    color: #fd3935;
    text-decoration: none;
}

.vh-client-component-checkout p a:hover {
    text-decoration: none;
}

.vh-client-component-checkout h1,
.vh-client-component-checkout h2,
.vh-client-component-checkout h3,
.vh-client-component-checkout h4,
.vh-client-component-checkout h5,
.vh-client-component-checkout h6 {
    font-family: 'Playfair Display', serif;
    color: #232323;
    padding: 0 0 15px;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: normal;
}

.vh-client-component-checkout h1 {
    font-size: 42px;
}

.vh-client-component-checkout h2 {
    font-size: 30px;
}

.vh-client-component-checkout h3 {
    font-size: 26px;
}

.vh-client-component-checkout h4 {
    font-size: 24px;
}

.vh-client-component-checkout h5 {
    font-size: 20px;
}

.vh-client-component-checkout h5 {
    font-size: 16px;
}

.vh-client-component-checkout .setup-panel {
    height: 100%;
}

.vh-client-component-checkout .section-top {
    padding-top: 30px;
}

.vh-client-component-checkout .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.vh-client-component-checkout .bootstrapWizard {
    display: block !important;
    list-style: none !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
}

.vh-client-component-checkout .bootstrapWizard a:hover,
.bootstrapWizard a:active,
.bootstrapWizard a:focus {
    text-decoration: none !important;
    background: none !important;
}

.vh-client-component-checkout .bootstrapWizard li {
    display: block !important;
    float: left !important;
    width: 25%;
    text-align: center !important;
    padding-left: 0;
}

.vh-client-component-checkout .bootstrapWizard li .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.vh-client-component-checkout .bootstrapWizard li:before {
    border-top: 1px solid #e5e5e5 !important;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 27px;
    right: 1px;
    z-index: 2;
    width: 100%;
}

.vh-client-component-checkout .bootstrapWizard li:first-child:before {
    left: 50% !important;
    max-width: 50% !important;
}

.vh-client-component-checkout .bootstrapWizard li:last-child:before {
    max-width: 50% !important;
    width: 50% !important;
}

.vh-client-component-checkout .bootstrapWizard li .step {
    background: #fff;
    color: #707070;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 50px !important;
    line-height: 50px !important;
    min-height: 50px !important;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0;
    text-decoration: none;
}

.vh-client-component-checkout .bootstrapWizard li .vh-step-indicator.vh-step-active .step {
    color: transparent !important;
}

.vh-client-component-checkout .bootstrapWizard li .vh-step-indicator.vh-step-active .step:after {
    transition: all .1s linear 0;
    content: '\f00c';
    font-family: FontAwesome, sans-serif;
    font-size: 20px;
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
}

.vh-client-component-checkout .bootstrapWizard li .vh-step-indicator.vh-step-active .title {
    color: #000 !important;
}

.vh-client-component-checkout .bootstrapWizard li .vh-step-indicator.vh-step-done .step {
    color: transparent !important;
}

.vh-client-component-checkout .bootstrapWizard li .vh-step-indicator.vh-step-done .step:after {
    transition: all .1s linear 0;
    content: '\f00c';
    font-family: FontAwesome, sans-serif;
    font-size: 20px;
    color: #707070;
    position: absolute;
    left: 0;
    right: 0;
}

.vh-client-component-checkout .bootstrapWizard li .vh-step-indicator.vh-step-done .title {
    color: #707070 !important;
}

.vh-client-component-checkout .bootstrapWizard li .btn {
    padding: 0;
}

.vh-client-component-checkout .bootstrapWizard li .btn-default {
    background: none;
    border: 0;
}

.vh-client-component-checkout .bootstrapWizard li .btn-default:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .0) !important;
}

.vh-client-component-checkout .bootstrapWizard li .btn-primary {
    background: none;
    border: 0;
    border-radius: 0;
}

.vh-client-component-checkout .bootstrapWizard li .btn-primary:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .0) !important;
}

.vh-client-component-checkout .bootstrapWizard li .btn-primary .step {
    color: #000;
    font-weight: 700;
    width: 50px;
    line-height: 50px;
    min-height: 50px;
    font-size: 0;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
    position: relative;
    transition: all .1s linear 0;
    z-index: 2;
}

.vh-client-component-checkout .bootstrapWizard li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.vh-client-component-checkout .bootstrapWizard li a[type="button"] {
    -webkit-appearance: none;
    background: none;
    border: 0;
}

.vh-client-component-checkout .bootstrapWizard li a[type="button"]:focus {
    border: 0;
    outline: none;
}

.vh-client-component-checkout .bootstrapWizard li a:hover {
    text-decoration: none;
}

.vh-client-component-checkout .bootstrapWizard li .btn-default i.show-icon {
    visibility: hidden;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-checkout .bootstrapWizard li .btn-primary i.show-icon {
    visibility: visible;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-checkout .bootstrapWizard li .btn-default i.show-number {
    visibility: visible;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-checkout .bootstrapWizard li .btn-primary i.show-number {
    visibility: hidden;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.vh-client-component-checkout .bootstrapWizard li a.btn-primary .title {
    color: #000;
}

.vh-client-component-checkout .bootstrapWizard li .title {
    color: #e5e5e5;
    display: block;
    font-size: 16px;
    line-height: 15px;
    max-width: 100%;
    margin-top: 20px;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104;
}

.vh-client-component-checkout .vh-step-content {
    display: none;
    padding: 0;
    margin: 40px 0 0;
    width: 100%;
    clear: both;
}

.vh-client-component-checkout .vh-step-content {
    display: none;
}

.vh-client-component-checkout .vh-step-content.vh-step-content-active {
    display: block;
}

.vh-client-component-checkout .shop-tab-section {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: block;
    clear: both;
}

.vh-client-component-checkout .main-wrapper-inner {
    padding: 80px 0 0;
}

.vh-client-component-checkout .col-box-6 {
    width: 65%;
    position: relative;
}

.vh-client-component-checkout .col-box-4 {
    width: 30%;
    position: relative;
}

.vh-client-component-checkout .col-box-5 {
    width: 47%;
    position: relative;
}

.vh-client-component-checkout .col-box-3 {
    width: 32%;
    position: relative;
}

.vh-client-component-checkout .pull-right {
    float: right !important;
}

.vh-client-component-checkout .pull-left {
    float: left !important;
}

.vh-client-component-checkout .box-margin-left {
    margin-left: 2%;
}


.vh-client-component-checkout .form-outer {
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #747474;
}

.vh-client-component-checkout .form-outer label {
    width: 100%;
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}

.vh-client-component-checkout .form-outer input[type="text"] {
    width: 100%;
    display: block;
    clear: both;
    border: 1px solid #e8e8e8 !important;
    padding: 12px 10px;
    margin: 6px 0 18px;
    color: #6f6f6f;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
}

.vh-client-component-checkout .form-outer input[type="text"]:focus {
    border: 1px solid #e8e8e8;
    outline: none;
}

.vh-client-component-checkout .form-outer select {
    width: 100%;
    display: block;
    clear: both;
    border: 1px solid #e8e8e8;
    padding: 12px 10px;
    margin: 6px 0 18px;
    color: #2e2e2e;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
}

.vh-client-component-checkout .form-outer select:focus {
    border: 1px solid #e8e8e8;
    outline: none;
}

.vh-client-component-checkout .form-outer button {
    width: 100%;
    display: block;
    clear: both;
    font-size: 18px;
    font-weight: 400;
    background: #327898;
    text-align: center;
    color: #FFF;
    border: 0;
    padding: 20px 0;
    margin: 10px 0 15px;
    cursor: pointer;
}

.vh-client-component-checkout .form-outer input[type="checkbox"] {
    margin-bottom: 18px;
}

.vh-client-component-checkout .vh-side-box {
    background: #fafafa;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    border: 2px solid #ededed;
    padding: 20px 0 10px;
    border-radius: 6px;
}

.vh-client-component-checkout .inner-box {
    display: block;
    clear: both;
    padding: 0 18px;
}

.vh-client-component-checkout .order-text {
    font-size: 16px;
    text-align: left;
    color: #464646;
    padding: 0 0 25px;
    margin: 0;
}

.vh-client-component-checkout .order-text span {
    float: right;
    text-align: right;
}

.vh-client-component-checkout .order-total {
    font-size: 18px;
    text-align: left;
    color: #272727;
    padding: 0 0 16px;
    margin: 0;
    font-weight: 700;
}

.vh-client-component-checkout .order-total span {
    float: right;
    text-align: right;
}


.vh-client-component-checkout .order-discount {
    font-size: 18px;
    text-align: left;
    color: #272727;
    padding: 0 0 16px;
    margin: 0;
    font-weight: normal;
}

.vh-client-component-checkout .order-discount span {
    float: right;
    text-align: right;
}

.vh-client-component-checkout .vh-order-product {
    width: 100%;
    display: block;
    clear: both;
    padding: 18px;
    margin: 0;
    border-top: 2px solid #ededed;
    position: relative;
}

.vh-client-component-checkout .vh-order-product .close-box {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 16px;
    text-align: center;
}

.vh-client-component-checkout .vh-order-product .close-box a {
    text-decoration: none;
    color: #464646;
    font-size: 30px;
}

.vh-client-component-checkout .vh-order-product .img-box {
    width: 40%;
    float: left;
}

.vh-client-component-checkout .vh-order-product .about-product {
    width: 60%;
    float: left;
    padding-left: 10px;
}

.vh-client-component-checkout .vh-order-product .about-product h6 {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #464646;
    margin: 0;
}

.vh-client-component-checkout .vh-order-product .about-product p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #858484;
    padding: 0 0 16px;
    margin: 0;
}

.vh-client-component-checkout .vh-order-product .about-product .qty-box {
    width: 100%;
    display: block;
    clear: both;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #858484;
    padding: 0 0 16px;
    margin: 0;
}

.vh-client-component-checkout .vh-order-product .about-product .qty-box a {
    font-size: 16px;
    line-height: 20px;
    color: #858484;
    text-decoration: none;
}

.vh-client-component-checkout .vh-order-product .about-product .qty-box input {
    width: 50px;
    text-align: center;
    color: #858484;
    border: 0;
    background: none;
    padding: 0;
    margin: 0 4px;
}

.vh-client-component-checkout .vh-order-product .about-product .qty-box input:focus {
    border: 0;
    outline: none;
}

.vh-client-component-checkout .vh-order-product .about-product .qty-box span {
    float: right;
    text-align: right;
}

.vh-client-component-checkout .billing-payment-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.vh-client-component-checkout .billing-payment-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.vh-client-component-checkout .billing-payment-box ul li {
    width: 250px;
    float: left;
    font-size: 15px;
    color: #838383;
    padding: 0;
    margin: 0 20px 20px 0;
}

.vh-client-component-checkout .billing-payment-box ul li a {
    display: block;
    font-size: 15px;
    color: #838383;
    border: 2px solid #eaeaea;
    text-decoration: none;
    padding: 20px 25px;
    margin: 0;
}

.vh-client-component-checkout .billing-payment-box ul li a span.title {
    display: block;
}

.vh-client-component-checkout .billing-payment-box ul li a:hover {
    display: block;
    font-size: 15px;
    color: #838383;
    border: 2px solid #2e7696;
    text-decoration: none;
}

.vh-client-component-checkout .billing-payment-box ul li.active a {
    border: 2px solid #2e7696;
}

.vh-client-component-checkout .return-to-detais {
    font-size: 16px;
    color: #327898;
    text-align: left;
    padding: 0;
    margin-bottom: 25px;
}

.vh-client-component-checkout .return-to-detais a {
    font-size: 16px;
    color: #327898;
    text-align: left;
    padding: 0;
    text-decoration: none;
}

.vh-client-component-checkout .return-to-detais a i {
    margin-right: 6px;
}

.vh-client-component-checkout .review-details {
    padding-bottom: 40px;
}

.vh-client-component-checkout .review-details h5 {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-align: left;
    color: #404040;
    padding: 0 0 20px;
    margin: 0;
}

.vh-client-component-checkout .review-details p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #7d7d7d;
    padding: 0 0 10px;
    margin: 0;
}

.vh-client-component-checkout .review-details p span {
    font-size: 17px;
    display: block;
    color: #181818;
    font-weight: 700;
    margin-bottom: 5px;
}

.vh-client-component-checkout .review-details p a {
    color: #117bac;
    text-decoration: none;
}

.vh-client-component-checkout .review-details p img {
    vertical-align: middle;
}

.vh-client-component-checkout .method-box {
    display: block;
    font-size: 18px;
    text-align: left;
    color: #222;
    padding: 0 100px 30px 30px;
    margin: 0;
    position: relative;
}

.vh-client-component-checkout .method-box .price-free {
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: right;
    color: #222;
}

.vh-client-component-checkout .method-box .seclect-check-box {
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.vh-client-component-checkout .promo-box {
    width: 100%;
    border: 1px solid #e3e3e3;
    position: relative;
}

.vh-client-component-checkout .promo-box input[type="text"] {
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    display: block;
    clear: both;
    border: 0;
    padding: 0 128px 0 10px;
    margin: 0;
    color: #6f6f6f;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
}

.vh-client-component-checkout .promo-box input[type="text"]:focus {
    border: 0;
    outline: none;
}


.vh-client-component-checkout .terms-text-box {
    font-size: 15px;
    text-align: left;
    color: #222;
    padding: 0;
    margin: 0 0 30px;
}

.vh-client-component-checkout .terms-text-box a {
    font-size: 15px;
    text-align: left;
    color: #327898;
    text-decoration: underline;
    padding: 0 4px;
}

.vh-client-component-checkout .terms-text-box a:hover {
    text-decoration: none;
}

.vh-client-component-checkout .cart-icon {
    border: 0;
    background: none;
    text-align: right;
    cursor: pointer;
    float: right;
}

.vh-client-component-checkout .cart-icon:focus {
    border: 0;
    outline: none;
}

.vh-client-component-checkout .vh-shipping-mp-modal .title {
    width: 100%;
    display: block;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 30px 0;
}

.vh-client-component-checkout .vh-shipping-mp-modal .modal-content .vh-close-modal {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 40px;
    padding: 0 !important;
    z-index: 50002;
}

.modal-open .vh-client-component-checkout .modal {
    overflow: hidden !important;
}

.vh-client-component-checkout .vh-shipping-mp-modal .modal-content {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.vh-client-component-checkout .vh-shipping-mp-modal .modal-body {
    padding: 20px;
}


.vh-client-component-checkout .modal .btn-block + .btn-block {
    margin-top: 0;
}

.vh-client-component-checkout .modal .btn-group.full {
    display: flex;
}

.vh-client-component-checkout .modal .btn-group .btn {
    flex: 1;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-mp-wrapper .modal-body {
    padding: 0 30px;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-content {
    margin-bottom: 20px;
}

.vh-client-component-checkout .vh-shipto-address {
    margin-bottom: 10px
}

.vh-client-component-checkout .vh-address-block .line {
    display: block;
    margin-bottom: 4px;
}

.vh-client-component-checkout .vh-address-block .bold {
    font-family: 'Montserrat-Bold', sans-serif;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-box {
    position: relative;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-box .vh-address-remove {
    position: absolute;
    font-size: 40px;
    z-index: 2000;
    right: 0;
    top: 0;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-box .vh-shipping-address-link {
    display: block;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-box.selected {
    border: 1px solid #2870c0;
}

.vh-client-component-checkout .vh-shipping-mp-modal .vh-shipping-address-link:hover {
    color: #000;
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}


.vh-client-component-checkout .close {
    color: #313131;
    float: right;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 10px 0 0 !important;
}

.vh-client-component-checkout .close:hover,
.close:focus {
    color: #327898;
    text-decoration: none;
    cursor: pointer;
}

.vh-client-component-checkout .modal-header {
    padding: 25px 16px !important;
    background-color: #fff;
    color: #313131;
    text-align: center !important;
}

.vh-client-component-checkout .modal-header p {
    width: 100%;
    display: block;
    font-size: 18px !important;
    text-align: center !important;
    font-weight: 700;
    color: #212121;
    padding: 0;
    margin: 0;
}

.vh-client-component-checkout .vh-modal-body-content {
    padding: 0;
    height: 60% !important;
    overflow-x: scroll !important;
}

.vh-client-component-checkout .fv-plugins-bootstrap .fv-help-block {
    color: #dc3545;
    font-size: 80%;
    margin-top: .25rem;
}

@media (max-width: 767px) {
    .vh-client-component-checkout .shop-tab-section {
        width: 100%;
        margin: 0 auto;
    }

    .vh-client-component-checkout .bootstrapWizard li {
        display: block !important;
        float: none !important;
        width: 100% !important;
        text-align: center;
        padding-left: 0;
        padding-bottom: 30px;
    }

    .vh-client-component-checkout .bootstrapWizard li:before {
        border-top: 0 solid #e5e5e5 !important;
        content: "";
        display: block;
        font-size: 0;
        overflow: hidden;
        position: relative;
        top: 27px;
        right: 1px;
        z-index: 2;
        width: 100%;
    }

    .vh-client-component-checkout .vh-order-product .img-box {
        width: 90%;
        float: none;
        margin-bottom: 10px;
    }

    .vh-client-component-checkout .vh-order-product .about-product {
        width: 100%;
        float: none;
    }

    .vh-client-component-checkout .box-margin-left {
        margin-left: 0;
    }

    .vh-client-component-checkout .modal-content {
        position: relative;
        background-color: #fefefe;
        padding: 0;
        border: 0 solid #888;
        width: 80%;
        float: right;
        height: 100vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: .4s;
        animation-name: animatetop;
        animation-duration: .4s;
    }

    .vh-client-component-checkout .modal-content .all-total-box {
        height: 45% !important;
    }

    .vh-client-component-checkout select.vh-form-control {
        background: url(/img/drop-down-arrow.png) 95% center no-repeat transparent;
    }

    .vh-client-component-checkout .vh-order-product .close-box a {
        line-height: 1em;
        font-size: 30px;
        background: #e3e3e3;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: block;
    }

}


.vh-client-component-checkout .form-check-label {
    padding-left: 4px;
}

.vh-client-component-checkout .vh-product-scroll-box {
    overflow-y: auto;
    height: 650px;
}

.vh-client-component-checkout .vh-cart-qty-indicator {
    border: none !important;
}

.vh-client-component-checkout .vh-link-btn-blue {
    text-decoration: none;
    display: inline-block;
    color: #9c9c9c;
    border: 1px solid #656565;
    margin-right: 10px;
    padding: 4px 8px;
    transition: all .3s ease;
}

.vh-client-component-checkout .vh-link-btn-blue:hover {
    text-decoration: none !important;
    background-color: #757575;
    color: #eaeaea;
    transition: all .3s ease;
}

.vh-client-component-checkout .vh-shipping-actions {
    margin-bottom: 20px;
}

.vh-client-component-checkout .vh-shipping-actions .vh-shipping-action:hover {
    text-decoration: underline;
}


.vh-client-component-checkout .fv-sr-only {
    display: none;
}

.vh-client-component-checkout .fv-plugins-framework input::-ms-clear,
.vh-client-component-checkout .fv-plugins-framework textarea::-ms-clear {
    display: none;
    height: 0;
    width: 0;
}

.vh-client-component-checkout .fv-plugins-icon-container {
    position: relative;
}

.vh-client-component-checkout .fv-plugins-icon {
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.vh-client-component-checkout .fv-plugins-tooltip {
    position: absolute;
    z-index: 10000;
}

.vh-client-component-checkout .fv-plugins-tooltip .fv-plugins-tooltip__content {
    background: #000;
    border-radius: 3px;
    color: #eee;
    padding: 10px;
    position: relative;
}

.vh-client-component-checkout .fv-plugins-tooltip .fv-plugins-tooltip__content:before {
    border: 8px solid transparent;
    content: '';
    position: absolute;
}

.vh-client-component-checkout .fv-plugins-tooltip--hide {
    opacity: 0;
}

.vh-client-component-checkout .fv-plugins-tooltip--top-left {
    margin-top: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--top-left .fv-plugins-tooltip__content:before {
    border-top-color: #000;
    left: 8px;
    top: 100%;
}

.vh-client-component-checkout .fv-plugins-tooltip--top {
    margin-top: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--top .fv-plugins-tooltip__content:before {
    border-top-color: #000;
    left: 50%;
    margin-left: -8px;
    top: 100%;
}

.vh-client-component-checkout .fv-plugins-tooltip--top-right {
    margin-top: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--top-right .fv-plugins-tooltip__content:before {
    border-top-color: #000;
    right: 8px;
    top: 100%;
}

.vh-client-component-checkout .fv-plugins-tooltip--right .fv-plugins-tooltip__content:before {
    border-right-color: #000;
    margin-top: -8px;
    right: 100%;
    top: 50%;
}

.vh-client-component-checkout .fv-plugins-tooltip--bottom-right {
    margin-top: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--bottom-right .fv-plugins-tooltip__content:before {
    border-bottom-color: #000;
    bottom: 100%;
    right: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--bottom {
    margin-top: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--bottom .fv-plugins-tooltip__content:before {
    border-bottom-color: #000;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--bottom-left {
    margin-top: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--bottom-left .fv-plugins-tooltip__content:before {
    border-bottom-color: #000;
    bottom: 100%;
    left: 8px;
}

.vh-client-component-checkout .fv-plugins-tooltip--left .fv-plugins-tooltip__content:before {
    border-left-color: #000;
    left: 100%;
    margin-top: -8px;
    top: 50%;
}

.vh-client-component-checkout .fv-plugins-tooltip-icon {
    cursor: pointer;
    pointer-events: inherit;
}

.vh-client-component-checkout .fv-plugins-bootstrap .fv-help-block {
    color: #dc3545;
    font-size: 80%;
    margin-top: .25rem;
}

.vh-client-component-checkout .fv-plugins-bootstrap .is-invalid ~ .form-check-label,
.vh-client-component-checkout .fv-plugins-bootstrap .is-valid ~ .form-check-label {
    color: inherit;
}

.vh-client-component-checkout .fv-plugins-bootstrap .has-danger .fv-plugins-icon {
    color: #b4b4b4;
}

.vh-client-component-checkout .fv-plugins-bootstrap .has-success .fv-plugins-icon {
    color: #b4b4b4;
}

.vh-client-component-checkout .fv-plugins-bootstrap .fv-plugins-icon {
    height: 38px;
    line-height: 38px;
    width: 38px;
}

.vh-client-component-checkout .fv-plugins-bootstrap .input-group ~ .fv-plugins-icon {
    z-index: 3;
}

.vh-client-component-checkout .fv-plugins-bootstrap .form-group.row .fv-plugins-icon {
    right: 15px;
}

.vh-client-component-checkout .fv-plugins-bootstrap .form-group.row .fv-plugins-icon-check {
    top: -7px;

}

.vh-client-component-checkout .fv-plugins-bootstrap:not(.form-inline) label ~ .fv-plugins-icon {
    top: 25px;
    right: 0;
}

.vh-client-component-checkout .fv-plugins-bootstrap:not(.form-inline) label ~ .fv-plugins-icon-check {
    top: 25px;
}

.vh-client-component-checkout .fv-plugins-bootstrap:not(.form-inline) label.sr-only ~ .fv-plugins-icon-check {
    top: -7px;
}

.vh-client-component-checkout .was-validated .vh-form-control:invalid,
.vh-client-component-checkout .vh-form-control.is-invalid,
.vh-client-component-checkout .was-validated .custom-select:invalid,
.vh-client-component-checkout .custom-select.is-invalid {
    border-color: #ff3860 !important;
}

.vh-client-component-checkout .fv-plugins-bootstrap.form-inline .form-group {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: auto;
}

.vh-client-component-checkout .fv-plugins-bootstrap .fv-plugins-icon {
    height: 50px;
    line-height: 50px;
    width: 38px;
    right: 15px;
    display: inline-block;
}

.vh-client-component-checkout .vh-order-details-table th {
    text-align: left;
}

.vh-client-component-checkout .vh-order-details-table td {
    text-align: left;
}

td.vh-currency {
    text-align: right !important;
    padding-right: 10px;
}

.vh-js-payment-container {
    display: none;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}