#paymentForm .fieldSet {
    border: none !important;
    padding: 0 !important;
}

#paymentForm .fieldSet .formRow {
    margin-bottom: 20px;
}

#paymentForm legend {
    display: none !important;
}

#paymentForm .label {
    color: #4a4a4a !important;
}

#paymentForm .fieldSet .formRow .textBox,
#tokenex input,
.fieldSet select.dropDown {
    padding: 10px !important;
    height: 50px !important;
    font-size: 18px !important;
    font-family: sans-serif !important;
    color: #9e9e9e !important;
}

#tokenexIframe {
    height: 50px !important;
}

#tokenex input {
    width: 100% !important;
    padding: 10px !important;
    height: 50px !important;
    font-size: 18px !important;
    font-family: sans-serif !important;
    color: #9e9e9e !important;
}